body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }
  
  textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    transition: 200ms;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  input{
    margin-top: 10px;
    width: 30vw;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    /* padding-bottom: 50px; */
}
header{
    margin-bottom: 50px;
}